use nix

# Run poetry install if there's not a virtualenv already.
if [[ ! -d .venv ]]; then
    echo "No virtualenv found, installing dependencies using Poetry..."
    poetry install -E images -E e2be -E metrics
fi

# Activate the virtualenv
source .venv/bin/activate

watch_file poetry.lock
watch_file pyproject.toml
unset PS1
