aiohttp
async-timeout
asyncpg
attrs
beautifulsoup4
cffi
chardet
commonmark
dataclasses-json
future
idna
linkedin-messaging
marshmallow-enum
marshmallow
mautrix
multidict
mypy-extensions
pillow
prometheus-client
pycparser
pycryptodome
python-magic
python-olm
ruamel.yaml.clib
ruamel.yaml
soupsieve
stringcase
typing-extensions
typing-inspect
unpaddedbase64
yarl
