[tool.poetry]
name = "linkedin_matrix"
version = "0.1.0"
description = "A Matrix-LinkedIn Messages puppeting bridge."
authors = ["Sumner Evans <inquiries@sumnerevans.com>"]
readme = "README.md"
license = "Apache-2.0"
homepage = "https://github.com/sumnerevans/linkedin-matrix"
repository = "https://github.com/sumnerevans/linkedin-matrix"
keywords = ["matrix", "LinkedIn"]
classifiers = [
    #   3 - Alpha
    #   4 - Beta
    #   5 - Production/Stable
    "Development Status :: 3 - Alpha",
    "Topic :: Communications :: Chat",
]

# Add the Olm repository
[[tool.poetry.source]]
name = "matrix-olm"
url = "https://gitlab.matrix.org/api/v4/projects/27/packages/pypi/simple"

[tool.poetry.dependencies]
python = "^3.7"
asyncpg = "^0.22.0"
python-magic = "^0.4.24"
"ruamel.yaml" = "^0.17.10"
commonmark = "^0.9.1"
mautrix = "^0.9.8"
linkedin-messaging = "^0.1.4"
Pillow = {version = "^8.3.0", optional = true}
unpaddedbase64 = {version = "^2.1.0", optional = true}
python-olm = {version = "^3.2.4", optional = true}

[tool.poetry.dev-dependencies]
black = "^21.6b0"
flake8 = "^3.9.2"
flake8-annotations = "^2.6.2"
flake8-import-order = "^0.18.1"
flake8-print = "^4.0.0"
mypy = "^0.910"
pytest = "^6.2.4"
termcolor = "^1.1.0"
types-chardet = "^0.1.3"
types-termcolor = "^0.1.1"

[tool.poetry.extras]
images = ["Pillow"]
e2be = ["python-olm", "unpaddedbase64"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
